body {
            background: lightgray;
            height: 100%;
            margin: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }
        header {
            text-align: center;
        }
        #stories-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        #stories-container article {
            display: inline-block;
            width: 16rem;
            margin: 1rem;
            padding: 1.5rem;
            background-color: rgb(250, 250, 250);
            border: lightgray 0.1rem solid;
            border-radius: 0.5rem;
            box-shadow: 0.1rem 0.05rem 0.05rem lightgray;
        }
        #stories-container article h3 {
            margin-top: 0px;
        }
        #stories-container article img {
            width: 16rem;
            margin-bottom: 1rem;
        }
        .no-display {
            display: none !important;
        }
        #refresh {
            display: block;
            margin: 1rem auto;
            font-weight: 400;
            color: #212529;
            text-align: center;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            color: #fff;
            background-color: #5cb85c;
        }
        #showStory {
            display: block;
            margin: 1rem auto;
            font-weight: 400;
            color: #212529;
            text-align: center;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            color: #fff;
            background-color: #007bff;
        }

        #return {
            display: block;
            margin: 1rem auto;
            font-weight: 400;
            color: #212529;
            text-align: center;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            color: #fff;
            background-color: #007bff;
        }

        #story-container {
            background-color:rgb(245, 245, 245);
            margin: 0px auto;
            min-width: 80vw;
            max-width: 800px;
            padding: 2rem;
            padding-top: 2rem;
            border-radius: 0.5rem;
            min-width: 200px;
        }
        #story-container h2 {
            font-size: 1.5rem;
        }
        #story-container .author {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        #story-container img, #story-container figure, #story-container .element {
            display: block;
            margin: 2rem auto;
            width: 80%;
            height: auto;
            text-align: center;
        }
        #story-container iframe {
            display: block;
            margin: 2rem auto;
            width: 30rem;
            height: 20rem;
            text-align: center;
        }
